@import "components/normalizer";
@import "components/colors";

$container-width: 1200px;
$nav-height: 70px;
$margin-between-cards: 100px;

//noinspection CssOptimizeSimilarProperties

* {
    box-sizing: border-box;
}

.editor-preview-side, .editor-preview-active-side {
    color: black;
}

footer.footer {
    height: 200px;
    background-color: #2b3036;
    &.footer-index {
        background-color: rgba(43, 48, 54, 0.8);
    }
    display: flex;
    align-content: center;

    & .container {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: $container-width;
        padding: 60px;
        text-align: center;
    }
}

.editor-toolbar {
    background: #fff;
    opacity: 0.9;
}

table {

    width: 100%;

    & thead {
        text-transform: uppercase;
        font-weight: bold;

        & th {
            font-weight: 300;
            padding: 10px 10px 10px 20px;

        }
    }

    & tbody {

        & tr {
            border: 1px solid #434b55;
            &:nth-child(2n+1) {
                background-color: #383F47;
            }
            &.connected-user {
                background-color: rgba(44, 62, 42, 0.6);
            }
        }
        & td {
            padding: 20px;

            border: 1px solid #434b55;

            &.actions {
                text-align: center;
                width: 325px;
            }

            &.third {
                width: 75%;
            }

        }

    }

}

.btn {
    display: inline-block;
    width: 120px;
    text-align: center;
    padding: 5px;
    margin-right: 20px;
    transition: all 0.3s;
    color: whitesmoke;
    font-weight: 400;

    &:last-child {
        margin-right: 0;
    }

    &.btn-small {
        width: 100px;

    }

    &.btn-medium {
        width: 200px;
        padding: 10px;

    }
    &.btn-large {
        width: 300px;
        padding: 15px;

    }
    &.btn-success {
        background-color: rgba(82, 179, 59, 0.34);
        border: rgba(102, 251, 90, 0.41) solid 1px;
    }

    &.btn-danger {
        background-color: rgba(179, 64, 64, 0.4);
        border: rgba(251, 81, 81, 0.41) solid 1px;
    }
    &.btn-info {
        background-color: rgba(56, 114, 215, 0.34);
        border: rgba(97, 147, 233, 0.67) solid 1px;
    }

    &.btn-alt {
        margin-top: 20px;
        border: white solid 1px;
        background-color: transparent;

    }

    &:hover {
        background-color: whitesmoke;
        border: white solid 1px;
        color: black;
    }
}

body {
    background-color: #cecece;
    background-image: url("../img/bg.jpg"), url("../img/overlay.png");
    background-size: 100% auto, 100px 100px;
    background-repeat: no-repeat, no-repeat;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
}

h3 {
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: 0.25em;
    line-height: 1.5;
    margin: 0 0 1.5em 0;
    text-transform: uppercase;

    &::after {
        display: block;
        content: '';
        position: relative;
        top: 0.3em;
        width: 100%;
        height: 1px;
        background-color: #434b55;

    }
}

h2 {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-align: center;
    text-shadow: 0 0 24px rgba(0, 0, 0, 0.67);
    &::after {
        content: '';
        display: block;
        position: relative;
        top: 10px;
        left: 0;
        background: whitesmoke;
        width: 16%;
        height: 1px;
        margin: 0.4em auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.67);
    }
}

p {
    font-weight: 300;
    line-height: 2;
}

p.subtitle {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9em;
    letter-spacing: 0.25em;
    margin-top: 2em;
    word-spacing: 0.3em;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.67);

}

.greetings {

    position: relative;
    height: 500px;
    padding: 60px;
    margin-bottom: $margin-between-cards;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../img/greetings-bg.jpg') center no-repeat;
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.26);
    border: 1px rgba(255, 255, 255, 0.12) solid;

    & footer, header {
        z-index: 1;
    }

    & footer {
        margin-top: 100px;
        position: relative;
        top: 30px;
        height: 80px;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #0D1D2C;
        opacity: 0.65;
        width: 100%;
        height: 100%;
    }

    & nav {
    }
    & ul {
        padding: 0;
        margin: 0;
        & li {
            transition: all 0.3s;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.25em;
            font-size: 0.9em;
            display: inline-block;
            padding: 20px;
            margin-right: 20px;
            &:hover {
                background: rgba(lighten($dark-color, 20%), 0.4);
                cursor: pointer;
            }
        }

        & li:last-of-type {
            margin-right: 0;
        }
    }
}

.features {

    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.26);
    border: 1px rgba(255, 255, 255, 0.1) solid;
    width: 80%;
    margin: 0 auto;

    header {
        background: url("../img/overlay.png"), url("../img/svg/header-bg.svg"), linear-gradient(45deg, #c4918a 20%, #6093c4 80%) center, center, center;
        background-size: 100px 100px, contain, cover;
        padding: 120px 60px;
    }

    .content {
        background-color: $dark-color;
        display: flex;
        & .feature {
            width: 33.3333%;
            border-right: 1px lighten($dark-color, 10%) solid;
            padding: 40px;
            & p {
                text-align: justify;
            }
            &:last-of-type {
                border-right: 0
            }
        }
    }

}

.ui.cards > .card {
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.29);

    &.is-connected {
        box-shadow: 0px 0px 35px rgba(90, 251, 86, 0.3);
    }
}

.ui.inverted.button {
    transition: all 0.6s;
}

.generic-card {
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.26);

    & header {
        background: url("../img/overlay.png"), url("../img/svg/header-bg.svg"), linear-gradient(45deg, #c4918a 20%, #6093c4 80%) center, center, center;
        background-size: 100px 100px, contain, cover;
        padding: 120px 60px;
    }

    &.fullscreen header {
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.39) inset;
    }


    &.fullscreen {
        box-shadow: none;
    }

    & .content-site {
        text-align: left;
        padding: 40px;
        background-color: $dark-color;
        display: flex;
        flex-direction: column;
        &.content-row {
            flex-direction: row;
            justify-content: space-between;

        }
        &.fullscreen {
            padding: 40px 20%;
            text-align: justify;
            &.student-list {
                padding: 40px 3%;
            }
        }

        &.portfolio {
            display: block;
        }
    }
}

.row {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
    align-self: center;
}

.container {
    width: $container-width;
    margin: 100px auto;
    &.fullscreen {
        width: 100%;
        margin: 0;
    }
}

a {
    transition: all 0.3s;
    text-decoration: none;
    color: inherit;
    outline: none;
    &:hover {
        color: darken(whitesmoke, 30%);
    }
}

.nav {

    background-color: lighten($dark-color, 5%);
    height: $nav-height;

    & .container {
        width: $container-width;
        margin: 0 auto;
    }

    & .brand {
        font-size: 1.5em;
        font-weight: 300;
        display: inline-block;
        height: 100%;
        line-height: $nav-height;
    }
    //
    //&.fixed {
    //    position: fixed;
    //    width: 100%;
    //    z-index: 1000;
    //}

}

.nav-links {
    display: flex;
    float: right;
    align-items: center;
    height: $nav-height;

    & ul {

        padding: 0;
        margin: 0;

        & li {

            display: inline-block;
            padding-right: 30px;

        }
    }

}

.slider-options {

    & #projectImage:first-of-type {
        margin-top: 65px;
    }

}

.alert {

    margin-bottom: 40px;
    padding: 20px;
    border-radius: 2px;
    &.alert-danger {
        //&::before {
        //    font-family: 'FontAwesome';
        //    content: '\f071';
        //    margin-right: 10px;
        //}
        background: rgba(185, 91, 91, 0.28);
        border: rgba(185, 91, 91, 0.39) solid 1px;
    }
    &.alert-success {
        &::before {
            font-family: 'FontAwesome';
            content: '\f00c';
            margin-right: 10px;
        }
        background: rgba(93, 185, 64, 0.28);
        border: rgba(86, 185, 64, 0.39) solid 1px;
    }

}

.icon-container {
    margin: 0 0 1.5em 0;
}

span.hour {
    color: rgba(255, 255, 255, 0.5);
}

hr {
    border: 0;
    border-bottom: solid 1px #434b55;
    margin: 3em 0;
}

form {
    color: white;
    margin: 60px 0;

    & button, textarea, select {
        color: black;

    }

    & label {
        display: block;
    }

    & input {
        padding: 20px;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid #434b55;
    }
}

.page-description, .post-description, .project-description {

    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    line-height: 22px;
    float: right;
}

.align {
    &-left {
        align-items: stretch;
        align-self: flex-start;
    }
    &-middle {
        align-items: stretch;
        align-self: center;
    }
    &-right {
        align-items: stretch;
        align-self: flex-end;
    }
}

.post-metadata {
    & .month {
        display: inline-block;
        margin-right: 20px;
    }

    & .hour {
        display: inline-block;
        margin-right: 800px;

    }

    & .author {
        display: inline-block;

    }
}

.admashallah {
    color: rgba(185, 91, 91, 0.9);
}

.last-edited {
    position: absolute;
}

.post-content {
    overflow: hidden;
    height: 33em;
}

.role-description {
    color: darken(white, 20%);
}

.comments {

    list-style-type: none;
    padding-left: 0;

    & .comment {
        position: relative;
        padding: 30px;
        border-bottom: 1px solid #434b55;
        &:last-of-type {
            border-bottom: none;
        }
        &:nth-child(2n+1) {
            background-color: #383F47
        }

        & button {
            margin-top: 10px;
        }
    }

    & .comment- {
        &author {
            margin-bottom: 10px;

            &::before {
                font-family: FontAwesome;
                content: '\f007';
                margin-right: 10px;
            }

        }
        &content {
            margin-top: 13px;
            word-wrap: break-word;
            display: inline-block;
            width: 820px;

        }
        &date {
            display: inline-block;
            position: absolute;
            bottom: 28px;
            right: 33px;
            &::before {
                font-family: FontAwesome;
                content: '\f073\020';
            }

        }
    }

}

a.student-link:hover {
    color: #d7a965;
}

.student-item {

    position: relative;
    display: inline-block;
    width: 500px;
    border: 1px solid rgb(67, 75, 85);
    border-radius: 3px;
    margin-right: 100px;

    & .student-role {
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 10;
    }

    &.is-connected {
        //background-color: rgba(44, 71, 41, 0.72);
        width: 400px;
    }

    &:last-of-type {
        margin-right: 0;
    }

    &::after {
        transition: all 0.3s;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    &:hover {

        cursor: pointer;
        &::after {
            opacity: 0.1;
        }
    }

    & .item-thumbnail {
        height: 280px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        & .item-categories {

            &::before {
                font-family: FontAwesome;
                content: '\f02c\020';
            }

            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            margin: 15px;
            padding: 12px;
            background: rgba(0, 0, 0, 0.6);

        }

        & .item-title {
            z-index: 3;

            & h2 {
                margin: 0;
                &::after {
                    content: none;
                }
            }

        }

    }

    & .img-overlay {
        position: absolute;
        opacity: 0.3;
        top: 0;
        left: 0;
        background-color: black;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: all 0.2s;

        &:hover {
            opacity: 0.7;
        }
    }
    & img {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 120%;
        transition: all 0.2s;
        &:hover {
            transform: scale(1.1);
        }
    }

    & .item-description {
        padding: 40px;
        position: relative;
        z-index: 3;

    }
}

.buttons {
    float: right;
}

.profile-picture {
    margin-bottom: 10px;
    & img {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }

}

.row-block {
    display: block;
    & .middle-column {
        display: inline-block;
        width: 49%;
    }
}

span.bold {
    font-weight: 500;
}

span.no-information {
    font-weight: 300;
    font-style: italic;
}

.row-flex {
    display: flex;
    flex-direction: row;

    &.space-around {

        justify-content: space-around;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.center {
        justify-content: center;
    }

    & .user-description {
        margin: 40px 0 60px 0 !important;
        padding: 40px !important;
        width: 100% !important;
        background-color: #2b3036;
        border: 1px solid #434b55;
        text-align: center;
    }

}

div.information {
    width: 500px;

    &:first-child {
        text-align: right;
        padding-right: 60px;
        border-right: 1px solid #434b55;
    }
    &:last-child {
        text-align: left;
        padding-left: 60px;
    }
    &.one-column {
        border-right: none;
        text-align: center;
        width: 100%;
    }
}

section.information, section.contact {
    margin-bottom: 20px;

}

.ui.icon.input {
    width: 500px;
}

.results.transition.visible {
    width: 500px;
}

.ui.search > .results .result {
    & .content {
        background-color: transparent;
        padding: 10px;
        transition: all 0.3s;

    }
    &:hover {
        background-color: darken(white, 10%) !important;
    }
}

.ui.category.search .results {
    width: 500px;
}

p {
    font-size: 15px;
}

.information p {
    margin-bottom: 0 !important;
}

section.information > .row-flex:first-of-type {
    margin-top: 40px;
    margin-bottom: 20px;
}

.ui.modal p {
    color: black;
}

.card.is-connected {
    width: 400px !important;
}

form {
    & .group {
        display: inline-block;
        width: 100%;
        position: relative;
        margin-bottom: 65px;
    }

    &.form-comment {
        margin: 20px 0;
    }

    & input, select, textarea {
        color: white;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #434b55;
    }

    & select {
        background-color: #32383f;
    }

    & input[type="file"] {
        border-bottom: none;
    }

    & textarea {
        max-width: 100%;
        min-width: 100%;
    }

    & input:focus, textarea:focus {
        outline: none;
    }

    & label {
        &.no-material {
            color: #579d69;
            font-size: 14px;
            margin-bottom: 20px;
        }
        &.material {
            color: #999;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }

    }

    & input:focus ~ label, input[type="text"]:valid ~ label, select:focus ~ label, select:valid ~ label, input[type="email"]:valid ~ label, input[type="password"]:valid ~ label, input[type="date"]:valid ~ label, textarea:focus ~ label, textarea:valid ~ label {
        top: -40px;
        font-size: 14px;
        color: #579d69;
    }

    & input[type="checkbox"]:focus ~ label, input[type="checkbox"]:valid ~ label {
        top: 0;

    }

    & .bar {
        position: relative;
        display: block;
        width: 100%;
    }

    & .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #579d69;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    & .bar:before {
        left: 50%;
    }

    & .bar:after {
        right: 50%;
    }

    & input:focus ~ .bar:before, input:focus ~ .bar:after, textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
        width: 50%;
    }

    & .highlight {
        position: absolute;
        height: 60%;
        width: 100%;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
}

@-webkit-keyframes inputHighlighter {
    from {
        background: #579d69;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #579d69;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #579d69;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.ui.viadeo.button {
    background-color: #f07355;
    color: white;
    & i {
        height: 0.85714286em;
        opacity: 0.8;
        margin: 0em 0.6em 0em -0.2em;
        -webkit-transition: opacity 0.1s ease;
        transition: opacity 0.1s ease;
    }
}

.student-metadata {
    position: absolute;
    bottom: 20px;
    width: 100%;
    & .student-age, .student-group, .student-role {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1400px), (max-device-width: 1400px) {
    .generic-card .content-site.fullscreen {
        padding: 40px 3%;
    }
    .nav .container {
        width: 100%;
        padding: 0 20px;
    }
}

.subtitle.search {
    background-color: rgba(0, 0, 0, 0.5);
    width: 700px;
    margin: 40px auto 0 auto;
    padding: 30px;
}

.extra-icon {
    float: right;
    line-height: 34px;
    margin-left: 11px;
}

form.inline-form {
    display: inline-block;
}