{% extends 'base.html.twig' %}


{% block body %}
    <div class="container fullscreen home">
        {% autoescape false %}
            {% for message_danger in app.session.flashBag.get('danger') %}
                <div class="alert alert-danger">{{ message_danger }}</div>
            {% endfor %}
            {% for message_success in app.session.flashBag.get('success') %}
                <div class="alert alert-success">{{ message_success }}</div>
            {% endfor %}
        {% endautoescape %}
        <section class="greetings">
            <header>
                <h1>Une plateforme en ligne, pour tous</h1>
                <p class="subtitle">Réalisé par 4 étudiants en DUT MMI</p>
            </header>
        </section>

        <section class="features">
            <header>
                <h2>Pourquoi ce projet a t-il été crée ?</h2>
            </header>
            <div class="content">
                <div class="feature">
                    <div class="icon-container"><i class="fa fa-2x fa-television"></i></div>
                    <h3>Je suis une feature</h3>
                    <p>Les comm vous avez intérêt à bullshiter pour dire des beaux trucs ici</p>
                </div>
                <div class="feature">
                    <div class="icon-container"><i class="fa fa-2x fa-gamepad"></i></div>
                    <h3>Je suis une feature</h3>
                    <p>Et là aussi</p>
                </div>
                <div class="feature">
                    <div class="icon-container"><i class="fa fa-2x fa-save"></i></div>
                    <h3>Je suis une feature</h3>
                    <p>Garnet t un fdp</p>
                </div>
            </div>
        </section>

    </div>
{% endblock %}


