{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">

        <section class="greetings">
            <header>
                <h2>Le plumeau magique</h2>
                <p class="subtitle">Une agence constituée de bg</p>
            </header>
            {#<footer>#}
                {#{{ render(controller('AppBundle:Default:dislayMenu', {'classNames' : 'actions'})) }}#}
            {#</footer>#}
        </section>

        <section class="features">
            <header>
                <h2>Pourquoi ce projet a t-il été crée ?</h2>
                {#<p></p>#}
            </header>
            <div class="content">
                <div class="feature">
                    <div class="icon-container"><i class="fa fa-2x fa-television"></i></div>
                    <h3>Je suis une feature</h3>
                    <p>Les comm vous avez intérêt à bullshiter pour dire des beaux trucs ici</p>
                </div>
                <div class="feature">
                    <div class="icon-container"><i class="fa fa-2x fa-gamepad"></i></div>
                    <h3>Je suis une feature</h3>
                    <p>Et là aussi</p>
                </div>
                <div class="feature">
                    <div class="icon-container"><i class="fa fa-2x fa-save"></i></div>
                    <h3>Je suis une feature</h3>
                    <p>Garnet t un fdp</p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}


